venv
.venv*
.venv/
venv*
.idea
__pycache__/
*.out
test/output/*
*.DS_Store
bash_scripts/*
job_scripts/*
*.csv
*.xlsx
*.pth
*.stl
*.vti
*.vtk
!linflonet/data/template/
!linflonet/data/template/**
*.gz
*.xls
*.pdf
*.mlp
build/
*.egg-info/
dist/